{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <link
      rel="stylesheet" href="{% static "styles/index.css" %}" class="stylesheet"/>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta property="og:url" content="https://url/" />
    <title>Home</title>
    <meta property="og:title" content="Home" />
    <meta property="og:type" content="website" />
  </head>
  <body class="w-body c1c5wwpz">
    <div class="w-box">
      <div class="w-text c1pa3fj8">INI NAVBAR</div>
    </div>
    <div class="w-box c13cvrjd ctq5tiz c1nro7hj c1xhnf0c c1je5750 cjmiwek ci4yvie c1cm6zsl">
      <div class="w-box c7wpuo4 cajpbgm c1uo4bk c1nro7hj c1xhnf0c ceaswq c7bkpmh cz79j5p c1bi41j4">
        <h1 class="w-heading c1pa3fj8 c1uo4bk c1acq0om c1438egc ci69t41">
          HILAL
        </h1>
        <div class="w-box">
          <div class="w-box c7wpm50 c1uo4bk">
            <label class="w-input-label">Latitude:</label>
          </div>
          <div class="w-box c7wpm50 c1uo4bk">
            <input class="w-text-input c1c2mbqt c1fmdtfq cbuhko7 crmq8ha" type="text" /><label
              class="w-input-label c1c2mbqt">°</label><input class="w-text-input c1c2mbqt c1fmdtfq cbuhko7 crmq8ha"
              type="text" /><label class="w-input-label c1c2mbqt">&#x27;</label><input
              class="w-text-input c1c2mbqt cdhxtt9 cbuhko7 crmq8ha c1h7mudr" type="text" /><label
              class="w-input-label c1c2mbqt">&quot;</label><select class="w-select c1c2mbqt">
              <option label="S" value="south" class="w-option" selected=""></option>
              <option label="N" value="north" class="w-option"></option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="w-box"><div class="w-text c1pa3fj8">INI FOOTER</div></div>
  </body>
</html>
